<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work BC - Cities</title>
  <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
  <header>
    <h1>Welcome to Work BC</h1>
    <nav>
      <ul>
        <div class="dropdown">
          <button class="dropbtn">Home</button>
          <div class="dropdown-content">
            <a href="~/Home/index">Home</a>

          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Cities</button>
          <div class="dropdown-content">
            <a href="~/Home/Page2">Whistler</a>
            <a href="~/Home/Page2">Squamish</a>
            <a href="~/Home/Page2">Nanaimo</a>
            <a href="~/Home/Page2">Kelowna</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Apply</button>
          <div class="dropdown-content">
            <a href="~/Home/Page3">Employer</a>
            <a href="~/Home/Page4">Candidate</a>
          </div>
        </div>
      </ul>
    </nav>
  </header>

  <main>
    <div>
      <h2>Whistler</h2>
      <p>Whistler is a town north of Vancouver, British Columbia, that's home to Whistler Blackcomb, one of the largest ski resorts in North America. Besides skiing and snowboarding, the area offers snowshoeing, tobogganing and ski jumping at the Olympic Park, a venue for the 2010 Vancouver Winter Olympics. The hub of Whistler is a compact, chalet-style pedestrian village at the base of Whistler and Blackcomb mountains.</p>
      <div>
        <img src="~/images/whistler-image1.jpg" alt="Whistler Image 1" style="float:left;width:30%;height:315;object-fit:cover;">
        <img src="~/images/whistler-image2.jpg" alt="Whistler Image 2" style="float:left;width:30%;height:315;object-fit:cover;">
        <img src="~/images/whistler-image3.jpg" alt="Whistler Image 3" style="float:left;width:30%;height:315;object-fit:cover;">
      </div>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3qMoGs-7Fp8" title="Whistler Video 1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>


    <div>
      <h2>Squamish</h2>
      <p>Squamish is a town north of Vancouver, in British Columbia, Canada. It's at the northern tip of the island-dotted Howe Sound, and surrounded by mountains like the Stawamus Chief, a huge granite monolith. The Sea to Sky Gondola has views of the sound and nearby Shannon Falls, a towering waterfall cascading down a series of cliffs. The Britannia Mine Museum has underground train tours. Bike trails criss-cross the area.</p>
      <div>
        <img src="~/images/squamish-image1.jpg" alt="Squamish Image 1">
        <img src="~/images/squamish-image2.jpg" alt="Squamish Image 2">
        <img src="~/images/squamish-image3.jpg" alt="Squamish Image 3">
      </div>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3qMoGs-7Fp8" title="Squamish Video 1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    @* <section> *@
      <h2>Nanaimo</h2>
      <p>Nanaimo is a city and ferry port on the east coast of Vancouver Island, in British Columbia, Canada. At its heart, the Nanaimo Museum displays exhibits on the city’s industries and indigenous peoples. Near the Harbourfront Walkway, the Bastion is an 1853 wooden tower with cannon firings in summer. Shops and cafes fill the Old City Quarter. Offshore, on Newcastle Island, trails lead to beaches and First Nations sites</p>
      <div>

        <img src="~/images/nanaimo-image1.jpg" alt="Nanaimo Image 1">
        <img src="~/images/nanaimo-image2.jpg" alt="Nanaimo Image 2">
        <img src="~/images/nanaimo-image3.jpg" alt="Nanaimo Image 3">
      </div>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3qMoGs-7Fp8" title="Nanaimo Video 1" frameborder="0" allowfullscreen></iframe>
      </div>
    @* </section> *@

    @* <section> *@
      <h2>Kelowna</h2>
      <p>Kelowna is a city in the south of Canada’s British Columbia province. It’s in the Okanagan Valley, on the eastern shore of Okanagan Lake, surrounded by provincial parks, pine forest, vineyards, orchards and mountains. Its downtown area incorporates waterfront City Park and a lakeside cultural district. More than 20 local vineyards offer wine tours and tastings.</p>
      <div>
        <img src="~/images/kelowna-image1.jpg" alt="Kelowna Image 1">
        <img src="~/images/kelowna-image2.jpg" alt="Kelowna Image 2">
        <img src="~/images/kelowna-image3.jpg" alt="Kelowna Image 3">
      </div>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3qMoGs-7Fp8" title="Kelowna Video 1" frameborder="0" allowfullscreen></iframe>
      </div>
    @* </section> *@
  </main>

</body>
</html>
