
input[type="button"] {
    border: 1rem; 
    font-size: 1rem; 
    background-color: #3f6383; 
    color: #eadcdc; 
    border-radius: 5px; 
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
 }

 input[type="button"]:hover {
    background: #61aff3;
    transition: all 0.3s ease;
 }