<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>    This is the content of Page 2.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Phasellus consectetur euismod metus, vel aliquet nulla aliquam at.
Suspendisse potenti. Vestibulum cursus finibus ligula, sit amet rutrum dolor commodo eget.
Aliquam posuere venenatis turpis, eget consectetur mauris. Duis pharetra consequat metus, a tincidunt est pellentesque eget.
Proin ac leo eget tortor elementum aliquam. Fusce id nisl vel odio lacinia elementum a ut tellus.</p>
<p>
    - What is ASP.NET
- What are the programming languages involved in ASP.NET project
- What are the applications of ASP.NET in the industry
- What is the structure of an ASP.NET project
- What are the basic files and folders created in an ASP.NET project
- What are the differences between CS, HTML, and CSHTML files
- What is MVC
- Controller Files
- View Model Files
- Utility Files
- Configuration Files
- What is a razor page
- Installing the extensions and required software and applications
- Creating the first ASP.NET project
- The terminal commands required to deal with ASP.NET project
- Connecting the local host to view the output of the project
- Creating the second project having multiple HTML webpages
- Creating a project with multiple web pages and multiple controllers
- Adding Images
- Adding Tables
- Adding CSS to the ASP.NET project
- Adding JavaScript to the ASP.NET project
</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
